/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
.page-layout {
    margin:25px;
}
.text-muted {
    font-size: 15px;
    color: #6b7280 !important; /* Force modern accessible grey styling */
    margin: 0;
  }
table {
  width: 60%;
}

table.mat-mdc-table {
  width: 60% !important; /* Force width constraint safely on desktop screens */
  background-color: #ffffff;
}